<%= render "shared/new_nugget_form" %>

<div class="row">
	<div class="span11 offset2">
		<span class="pull-right"><%= link_to "by topic", nuggets_path %></span>
		<div class="page-header">
			<h2>Latest <small>by audience</small></h2>
		</div>
	</div>
	<br>
</div>

<% if !@nuggets.blank? %>
	<%= render "shared/general_nuggets_audience" %>
<% else %>
  There is no advice here
<% end %>