<div class="row">
	<div class="span11 offset2">
		
		<% if !@nuggets.blank? %>
			<% if params[:show_type] == 'topic' %>
				<%= render 'topic_focus_nuggets' %>
			<% elsif params[:show_type] == 'audience' || "" %>
			  <%= render 'audience_focus_nuggets' %>
			<% end %>
		<% else %>
		  No advice here
		<% end %>

	</div>

	<% if !current_user %>
		<div class="span3">
			<%= link_to "Sign up now", "/auth/twitter", :class => "btn large primary" %>
		</div>
	<% end %>
</div>

