<%= render "shared/new_nugget_form" %>

<div class="row">
	<div class="span7 offset4">
		<div class="page-header">
			<h2>Latest</h2>
		</div>
	</div>
</div>

<% if !@nuggets.blank? %>
	<%= render "shared/general_nuggets" %>
<% else %>
  There is no advice here
<% end %>
