<div class="row">
	<div class="span10 offset2">
		
		<div class="page-header">
			<h4>When it comes to</h4>
			<h1><%= @nugget.topic %>,</h1>
			<h4><%= @nugget.audience %> should <%= @nugget.body %>.</h4>
		</div>
		<span class="pull-right">Advice from: <%= link_to @nugget.user.name, user_path(@nugget.user) %></span>
		
	</div>
</div>