<div class="row">
	<div class="span11 offset2">

		<% if !@nuggets.blank? %>
			<% if params[:find_by] == 'topic' %>
				<%= render 'nuggets/topic/specific_topic_nuggets' %>
			<% else %>
				<%= render 'nuggets/topic/index_topic_nuggets' %>
			<% end %>
		<% else %>
		  No advice here
		<% end %>

	</div>

	<% if !current_user %>
		<div class="span3">
			<%= link_to "Sign up now", "/auth/twitter", :class => "btn large primary" %>
		</div>
	<% end %>
</div>
