<div class="row">
	<div class="span11 offset2">
		
		<div class="row">
			<div class="span6">
				<h1>Browse All Advisors</h1>
			</div>
			<div class="span5">
				<%= render "shared/page_header_button" %>
			</div>
		</div>
		
		we live life | we learn things | we share experience through advice
		
		<hr>

		<% if !@users.blank? %>
			<%= render "users/main_profile"%>
		<% else %>
		  There are no users
		<% end %>
		
	</div>
</div>