<div class="row">
	<div class="span11 offset2">
		<div class="row">
			
			<div class="page-header">
				<h1>Are you right for Plaidvice?</h1>
			</div>
			
			<h3>Share your advice if...</h3>
			<ol>
				<li>You've done things</li>
				<li>You've gone places</li>
				<li>You've learned things</li>
				<li>You've got opinions based on the above</li>
			</ol>
						
			<h3>Use our advice if...</h3>
			<ol>
				<li>You're doing something new</li>
				<li>You're going somewhere new</li>
				<li>You're learning something new</li>
				<li>You believe in not making the same mistake twice <em>(basically, learning from others)</em></li>
			</ol>
			
			<h3>The bottom line...</h3>
			<ol>
				<li>You've got life experience</li>
				<li>People value what you've learned</li>
				<li>Share your experience through Plaidvice</li>
			</ol>
			
			<%= link_to "Sign up with Twitter", "/auth/twitter", :class => "btn large primary" %> (<%= link_to "or back", root_path %>)
			
		</div>	
	</div>
</div>
