<div class="row">
	<div class="span12 offset2">
		
		<div class="row">
			<div class="static-header">
				<h2>Where people discover new advice and share advice <br>based on life, learnings and daily experiences.</h2><br>
				<%= link_to "Sign up with Twitter", "/auth/twitter", :class => "btn large primary" %> or
				<%= link_to "Login", "/auth/twitter", :class => "btn large info" %><br><br>
				<%= link_to "are you right?", about_path %>
			</div>
		</div>
		
		<div class="row">
			<div class="static-main">
				<p>
					<strong>FAQ</strong> |
					<strong>Q:</strong> Why the name? 
					<strong>A:</strong> Unlike plaid, <%= link_to "good advice" %> never goes out of style. 
				</p>
			</div>
		</div>
						
	</div>
</div>