<div class="row">
	<div class="span12 offset2">
		
		<div class="row">
			<div class="static-header">
				<h2>Where people discover new advice and share advice, <br>based things they learn and experience daily.</h2><br>
				<%= link_to "Sign up with Twitter", "/auth/twitter", :class => "btn large primary" %> or
				<%= link_to "Login", "/auth/twitter", :class => "btn large info" %><br><br>
				<%= link_to "Or, are you right?", about_path %>
			</div>
		</div>
		
		<div class="row">
			<div class="static-main">
				<p>
					<strong>FAQ</strong> |
					<strong>Q:</strong> Why the name? 
					<strong>A:</strong> Unlike plaid, good advice <strong>never</strong> goes out of style. | 
					<strong>Q:</strong> Who Rules? 
					<strong>A:</strong> <%= link_to "House rules" %>!
				</p>
			</div>
		</div>
						
	</div>
</div>